@import url('components/nav.css');
@import url('components/hero.css');
@import url('components/about.css');
@import url('components/projects.css');
@import url('components/contact.css');
@import url('components/footer.css');