* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-body);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--muted-foreground);
}