.contact .section-title {
    margin-bottom: 3rem;
}

.contact .subtitle {
    font-size: 1.125rem;
    text-align: center;
    margin-bottom: 3rem;
    width: 60%;
}

.contact .contact-links {
    display: flex;
    gap: 2rem;
    margin-bottom: 4rem;
}

.contact-links li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    font-family: var(--font-family-monospace);
    font-size: 0.75rem;
    padding: 1rem;
    border: 1px solid var(--border-muted);
    transition: color 0.3s ease, border-color 0.3s ease;
}

.contact-links li a i {
    font-size: 1.4375rem;
}

.contact-links li a:hover {
    color: var(--primary);
    border: 1px solid var(--primary-35);
    box-shadow: 0 0 10px var(--primary-35);
}

.contact .contact-text {
    font-family: var(--font-family-monospace);
    font-size: 0.75rem;
    opacity: 0.6;
}